pandas
openai
faiss-cpu
pathway
fastapi
sentence-transformers
uvicorn
pydantic
openai
sentence-transformers
qdrant-client
python-dotenv
pydantic
numpy
pymongo

spacy
pytesseract
pdfplumber
python-docx
Pillow

langchain
langchain-core
langchain-community
langchainhub
langchain-openai
langgraph

pydantic-settings

# Pathway RAG + Streaming
pathway[all]